 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --grilled-on-plate-1-hex: #F28705;
    --grilled-on-plate-2-hex: #732C02;
    --grilled-on-plate-3-hex: #D93D04;
    --grilled-on-plate-4-hex: #D91604;
    --grilled-on-plate-5-hex: #0D0D0D;
    --background-color: #f4f4f4;
    --text-color: #333;
    --header-background: hwb(0 100% 0%);
}

/* Color Theme Swatches in Hex */
/* :root{
    --grilled-on-plate-1-hex: #77BDD9; 
    --grilled-on-plate-2-hex: #F2A71B; 
    --grilled-on-plate-3-hex: #D97904; 
    --grilled-on-plate-4-hex: #D93829; 
    --grilled-on-plate-5-hex: #73261F;

    --background-color: #f4f4f4;
    --text-color: #333;
    --header-background: hwb(0 100% 0%);
} */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}
body {
    background: var(--background-color);
    /* background: url('../img/seafood-bg.jpg') no-repeat center center/cover; */
    color: var(--text-color);
    width: 100%;
}
main {
    width: 80%;
    margin: 0 auto;
    background: var(--background-color);
}
main h2 {
    font-size: 1.5rem;
    color: var(--grilled-on-plate-5-hex);
    margin: 1rem 0;
    padding: 1em;
}

/* Header */
header {
    background: var(--header-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.promo{
    padding: 1em;
    font-size: 1.5rem;
    text-align: center;
}
nav {
    background: var(--grilled-on-plate-1-hex);
    width: 100%;
}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
nav ul li {
    margin: 0 1rem;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 2.1rem;
    padding: 1.5em;
}
/* Banner section */
.banner {
    width: 100%;
    height: fit-content;
    margin: 0 auto; 
    border: #0D0D0D 1px solid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-size: cover;
    background-position: center;
}
.banner .cover {
    flex-direction: column;
    padding: 3em;
    flex-grow: 1;
    width: 50%;	
}
.banner .cover p {
    font-size: 1.5rem;
    color: var(--grilled-on-plate-5-hex);
    margin-bottom: 1rem;
}
.banner .cover button {
    background: var(--grilled-on-plate-1-hex);
    color: #fff;
    padding: 1em 2em;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
}
.banner .cover button:hover {
    background: var(--grilled-on-plate-2-hex);
}
.banner .cover img {
    width: 100%;
    height: auto;
}

.review {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2em;
}

.review .review-item {
    flex: 1 1 calc(33.333% - 2em);
    margin: 1em;
    padding: 1em;
    border: #0D0D0D 1px solid;
    border-radius: 5px;
}

.review .review-item h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    align-self: center;
}



/* Menu */
.menu {
    background: rgba(242, 135, 5, 0.31);
    padding: 3em;
    margin: 2em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menu .menu-item {
    flex: 1 1 calc(33.333% - 2em);
    margin: 1em;
    padding: 1em;
    border: #0D0D0D 1px solid;
    border-radius: 5px;
}
.menu .menu-item h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    align-self: center;
}
.menu .menu-item p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.menu .menu-item img {
    align-self: stretch;
    max-width: 100%;
    height: auto;
}

.menu .menu-item button {
    background: var(--grilled-on-plate-1-hex);
    color: #fff;
    padding: 1em 2em;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
    margin-top: 1rem;
}
.menu .menu-item button:hover {
    background: var(--grilled-on-plate-2-hex);
}

.menu .menu-item button a {
    font-size: 1.5rem;
    color: var(--grilled-on-plate-5-hex);
    margin: 1rem 0;
    padding: 1em;
}


/* About Us */

main .about-us{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2em;
}

main .about-us .about-us-item {
    flex: 1 1 calc(33.333% - 2em);
    margin: 1em;
    padding: 1em;
    border: #0D0D0D 1px solid;
    border-radius: 5px;
}

main  .contact-us{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2em;
}

.about-us-item form {
    display: flex;
    flex-direction: column;
    padding: 1em;
    /* border: #0D0D0D 1px solid; */
    border-radius: 15px;
}

.about-us-item form input {
    padding: 1em;
    margin: 1em;
    border-radius: 5px;
    border: #0D0D0D 1px solid;
}

.about-us-item form textarea {
    padding: 1em;
    margin: 1em;
    border-radius: 5px;
    border: #0D0D0D 1px solid;
}

.about-us-item form button {
    background: var(--grilled-on-plate-1-hex);
    color: #fff;
    padding: 1em;
    text-decoration: none;
    font-size: .7rem;
    border-radius: 5px;
    margin-top: 1rem;
}
/* store location */

main .store-location{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2em;
    border-radius: 25px	;
}

main .store-location .store-location-item {
    flex: 1 1 calc(33.333% - 2em);
    margin: 1em;
    padding: 1em;
    border: #0D0D0D 1px solid;
    border-radius: 15px;
 
}

.store-location .store-location-item .map{
    margin: 1em;
    border: none;
    border-radius: 15px;
    padding: .5em;
}

/* Footer */

footer {
    background: rgba(115, 43, 2, 0.34);
    /* padding: 2em; */

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

footer .footer-item {
    color: #fff;
    /* padding: 2em; */
    margin: 2em;
    flex: 1 1 calc(33.333% - 2em);
}

footer .footer-item h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
footer .footer-item p,
footer .footer-item a {
    display: flex;
    font-size: 1rem;
    padding: .2em 2em;
    align-content: center;
    text-decoration: none;
}
footer .footer-item a {
    font-size: 1.2rem;
}
footer .footer-item a:hover {
    color: var(--grilled-on-plate-5-hex);
    text-decoration: underline;
}

/* Media Queries */
@media only screen and (max-width: 1200px) {
    main {
        width: 90%;
    }
    nav ul li a {
        font-size: 1.8rem;
    }
    .logo img {
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
    }

    .banner .cover {
        width: 70%;
    }
    .menu .menu-item {
        flex: 1 1 calc(50% - 2em);
    }
}

@media only screen and (max-width: 900px) {
    .logo img {
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
    }
    nav ul li a {
        font-size: 1.6rem;
    }
    .banner .cover {
        width: 80%;
    }
    .menu .menu-item {
        flex: 1 1 100%;
    }
}

@media only screen and (max-width: 600px) {
    nav ul li {
        margin: 0 0.5rem;
    }
    nav ul li a {
        font-size: 1.4rem;
        padding: 1em;
    }
    .banner .cover {
        flex-direction: column;
        padding: 2em;
        width: 100%;
    }
    
    .menu {
        padding: 2em;
    }
    footer {
        flex-direction: column;
        /* padding: 1em;
        flex: 1; */
    }
}

@media only screen and (max-width: 400px) {
    nav ul li a {
        font-size: 1.2rem;
    }
    .banner .cover {
        padding: 1em;
    }
    .menu {
        padding: 1em;
    }
    footer {
        padding: 0.5em;
    }
}

